$color_1: rgb(73, 71, 71);
$color_2: #282936;
$color_3: #fff;
$color_4: #b92222;
$color_5: #ff1867;
$font-family_1: 'Times New Roman', Times, serif;
$font-family_2: inherit;
$background-color_1: rgb(214, 209, 209);